.body  {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background: teal;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: .5em;
}

.name {
    font-size: 2em;
}

.nav a {
    font-family: 'DM Serif Display', serif;
    color: olive;
    background-color: papayawhip;
    display: block;
    font-size: 1em;
    font-weight: 0;
    text-align: center;
    padding: .3em;
    width: auto;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: .09em;
}

.profile {
    width: 300px;
}

.wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;


}
.wrapper h2 {
    padding: 2em;
    text-transform: uppercase;
}

.row {
    background-color: tomato;
}

.row,
.row img {
    width: 100%;
}



/*-----------------
Media Queries
-----------------*/

@media (min-width: 769px) {
    .main-header {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .nav {
        margin-top: 3em;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav a {
        border-bottom-color: transparent;
    }
}

@media (min-width: 1025px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }
    .name {
        margin-right: auto;
    }
    .nav {
        margin-top: 0;
        align-self: center;
    }
    .nav a {
        margin-left: .5em;
        margin-right: .5em;
    }
    .profile {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-basis: 0;
   
    }
}