*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body  {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: aliceblue;
}

#container,
.footer-container {
    background: gainsboro;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: .5em;
}

.logo {
    font-size: 1.5em;
    color: darkcyan;
}

.nav {
    font-family: 'DM Serif Display', serif;
    color: darkslategray;
    background-color: cadetblue;
    display: block;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    padding: .3em;
    width: auto;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: .09em;
}

.profile {
    width: 300px;
}

.wrapper {
    display: inline-block;
    max-width: 1100px;
    margin: 0 auto;
}

.row,
.skill {
    margin: 10px;
    min-height: 250px;
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
    text-transform: uppercase;
}

.portfolio,
.row img {
    width: 100%;
    background-color: cadetblue;
}

.branding,
p,
.attribute li  {
    padding: 15px 10px;
}

.code {
    width: 280px; 
    background-color: lightgrey;   
}

hr {
    margin: auto;
    width: calc(100% - 20px);    
}

footer {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-container a {
    color: darkslategray;
    padding: 0 5px 0 0;
}

.full {
    display: none;
}

/*-----------------
Media Queries
-----------------*/

@media (min-width: 768px) {
    .main-class,
    .main-nav,
    .branding,
    .wrapper,
    .attribute {
        display: flex;
    }

    .main-class {
        flex-direction: column;
        align-items: center;
    }

    .profile-summary {
        order: -1;
        text-align: left;
    }

    .nav {
        background-color: transparent;
    }

    .wrapper {
        flex-wrap: wrap;
    }

    .row {
        flex-basis: calc(50% - 20px);
    }

    .attribute {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
   
   .col {
       flex: 1 33%
   }

    .top {
        display: none;
    }

    .full {
        display: inline-block;
        margin-left: 20px;
    }
}
@media (min-width: 1024px) {
    .main-class {
        flex-direction: row;
        justify-content: space-between;
    }

    .row {
        flex-basis: calc(33.333% - 20px);
    }

}